version: "3.5"
services:
  nym.dnp.dappnode.eth:
    build: .
      context: .
      args:
        UPSTREAM_VERSION: v1.1.19
    image: "nym.dnp.dappnode.eth:0.0.1"
    ports:
      - "1789:1790"
      - "8000"
    restart: unless-stopped
    volumes:
      - "data:/nym-mixnode/"
    environment:
      - P2P_PORT=8000
      - EXTRA_FLAGS=
volumes:
  data: {}
